<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<h2>These are your movies</h2>
 <%= link_to 'Add a movie',  new_list_bookmark_path(@list) %>

<div class="bookmarks-container">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%=bookmark.movie.poster_url%>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= bookmark.movie.title%></h5>
        <p><%= bookmark.movie.rating %></p>
        <p class="card-text"><%= bookmark.movie.overview%></p>
        <p><%= bookmark.comment %></p>
        <%= link_to "Delete", list_bookmark_path(bookmark), :method => :delete, data: { confirm: "sure?" }, class: "btn btn-outline-danger" %>
      </div>
    </div>
  <% end %>
</div>
